/* RESET DEFAULT VALUE OF */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* SET ENTIRE DOCUMENT BACKGROUND COLOR AND FONTFAMILY */
body{
    background-color: #f8f8f8;
    font-family: sans-serif;
}


/*  */
.main {
    width: 600px;
    background-color: white;
    margin: 50px auto;
    position: relative;
    border-radius: 10px;
    padding: 10px;
}

.main p{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: rgb(106, 106, 106);
}

.description, .category, .date {
    display: flex;
    flex-direction: column;
    /* background: red; */
    padding: 5px 15px 15px;
    row-gap: 3px;
    cursor: pointer;
}

.description > label, .category > label, .date > label {
    font-size: 13px;
    font-weight: bold;
    color: rgb(106, 106, 106);
    cursor: pointer;
}

#input {
    font-size: 18px;
}

#input, #categories, #date {
    background: none;
    border: none;
    outline: none;
    /* font-weight: bold; */

}

.description:hover,.category:hover, .date:hover  {
    background: rgb(226, 248, 255);
    
}

.info {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.category, .date {
    width: 50%;
}

.category{
    border-right: 2px solid rgb(226 226 226 / 19%);
}

hr {
    border: 1px solid rgb(226 226 226 / 19%);;
}

.btns {
    display: flex;
    justify-content: center;
    padding: 20px;
    column-gap: 5px;
    height: 70px;
    position: relative;
}

.btn {
    /* padding: 10px; */
    width: 130px;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 13px;
    padding: 18px 2px;
    color: white; 

}

.btn-dark {
    background-color: #36454F;
    cursor: pointer;
    position: absolute;
    left: 156px;
}

.btn-dark:hover{
    background-color: #2c3840;
}

.btn-danger {
    background-color: #ec0a0a;
    cursor: pointer;
    position: absolute;
    right: 164px;
    top: 203.5px;
}

.btn-danger:hover {
    background-color:#dc0808;
}

.btn i {
    margin-right: 5px;
    font-weight: bold;
}

.show-data {
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 30px;
    box-shadow: inset 0 1px 20px rgb(224 224 224 / 39%);
}

.show-data h1 {
    text-align: center;
    color: #acacac;
    font-weight: 500;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.todo:hover {
    background-color: #efefef63;
}

.todo-data {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
}

.todo-data input {
    height: 20px;
    width: 30px;

}

.todo-check {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-self: flex-start;
}

.todo-check label {
    font-size: 22px;
    padding: 0;
}

.todo-check label:hover {
    cursor: pointer;
}

.todo-check p {
    text-align: left;
    padding: 0;
    font-size: 12px;
    color: rgb(174, 174, 174);
}

.todo-check p i {
    margin-right: 7px;
}

.todo-cat {
    /* background-color: red; */
    width: 80px;
    border-radius: 5px !important;
}

.todo-cat p {
    font-size: 15px;
    color: white;

}
